[Unit]
Description=Aria2 Web UI container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull abcminiuser/docker-aria2-with-webui
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=aria2 \
    --network=homelab \
    -p 6800:6800 \
    -p 6880:80 \
    -e PUID=$(id -u eduarbo) \
    -e PGID=$(id -g eduarbo) \
    -e TZ=America/Mexico_City \
    -v /nas/home/homelab/%p:/conf \
    -v /nas/downloads:/data \
    abcminiuser/docker-aria2-with-webui"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
