[Unit]
Description=Home Assistant container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull homeassistant/home-assistant
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=%p \
    --network=host \
    -e PUID=$(id -u eduarbo) \
    -e PGID=$(id -g eduarbo) \
    -e TZ=America/Mexico_City \
    -v /nas/config/%p:/config \
    homeassistant/home-assistant"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
