[Unit]
Description=JDownloader 2 container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull jlesage/jdownloader-2
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=jdownloader2 \
    --network=homelab \
    -p 5800:5800 \
    -e USER_ID=$(id -u eduarbo) \
    -e GROUP_ID=$(id -g eduarbo) \
    -e TZ=America/Mexico_City \
    -v /nas/home/homelab/%p:/config \
    -v /nas/downloads:/downloads \
    jlesage/jdownloader-2"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
