[Unit]
Description=Dockerized Kodi
Requires=docker.service
After=network.target docker.service

[Service]
ExecStartPre=-/usr/bin/docker pull erichough/kodi
ExecStart=/usr/bin/x11docker \
  --xorg \
  --alsa \
  --gpu \
  --hostuser=eduarbo \
  --home=/nas/config/%p \
  --name=kodi \
  -- \
    --network=homelab \
    -p 8080:8080 \
    -v /nas/videos:/nas/videos \
    -v /nas/movies:/nas/movies \
    -v /nas/series:/nas/series \
    -v /nas/music:/nas/music \
    -v /nas/games:/nas/games \
    -v /nas/photos:/nas/photos:ro \
    -v /nas/downloads:/nas/downloads \
  -- \
  erichough/kodi
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
