[Unit]
Description=Letsencrypt container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull linuxserver/letsencrypt
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=%p \
    --cap-add=NET_ADMIN \
    --network=homelab \
    -p 80:80 \
    -p 443:443 \
    -e PUID=$(id -u eduarbo) \
    -e PGID=$(id -g eduarbo) \
    -e TZ=America/Mexico_City \
    -e URL=guts.cc \
    -e SUBDOMAINS=wildcard \
    -e VALIDATION=dns \
    -e DNSPLUGIN=cloudflare \
    -e EMAIL='eduarbo@gmail.com' \
    -e EXTRA_DOMAINS=eduarbo.com \
    -v /nas/home/homelab/letsencrypt:/config \
    linuxserver/letsencrypt"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
