[Unit]
Description=Pi-hole container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull pihole/pihole
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=pihole \
    --network=homelab \
    -p 53:53/tcp \
    -p 53:53/udp \
    -e TZ=America/Mexico_City \
    -e ServerIP=192.168.1.10 \
    -e PROXY_LOCATION=pihole \
    -e VIRTUAL_HOST=pihole.lan \
    -e VIRTUAL_PORT=80 \
    -e DNS1=192.168.1.1 \
    -e DNS2=no \
    -e DNSMASQ_LISTENING=all \
    -v /nas/config/pihole/:/etc/pihole/ \
    -v /nas/config/pihole/dnsmasq.d/:/etc/dnsmasq.d/ \
    --dns=127.0.0.1 \
    --dns=1.1.1.1 \
    pihole/pihole"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
