[Unit]
Description=Radarr container
Wants=hydra2.service nzbget.service
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStartPre=-/usr/bin/docker pull linuxserver/radarr
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=%p \
    --network=host \
    -e PUID=$(id -u eduarbo) \
    -e PGID=$(id -g docker) \
    -e TZ=America/Mexico_City \
    -v /nas/config/%p:/config \
    -v /nas/downloads:/downloads \
    -v /nas/movies:/movies \
    linuxserver/radarr"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
