[Unit]
Description=Syncthing container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull linuxserver/syncthing
# run docker command in a subshell to wait for it to fully load
ExecStart=/bin/bash -c "\
  /usr/bin/docker run \
    --rm \
    --name=%p \
    --network=homelab \
    -p 8384:8384 \
    -p 22000:22000 \
    -p 21027:21027/udp \
    -e PUID=$(id -u eduarbo) \
    -e PGID=$(id -g eduarbo) \
    -e TZ=America/Mexico_City \
    -e UMASK_SET=022 \
    -v /nas/home/homelab/syncthing:/config \
    -v /nas/home/sandbox:/sandbox \
    linuxserver/syncthing"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
